<app-auth-form>
  <auth-form-text>
    <p>Welcome back!</p>
    <p>
      Please login to your account.
    </p>
  </auth-form-text>
  <auth-form>
    <form novalidate (ngSubmit)="onLogin(loginForm)" [formGroup]="loginForm">

      <app-input [inputType]="'email'" [inputPlaceholder]="'Email'" [inputFormGroup]="loginForm" [inputFormControl]="'email'"></app-input>
      <app-input [inputType]="'password'" [inputPlaceholder]="'Password'" [inputFormGroup]="loginForm" [inputFormControl]="'password'"></app-input>

      <div div class="flex flex-row justify-end mb-6">
        <app-link [linkUrl]="'/forgot'" [linkText]="'Forgot Password?'"></app-link>
      </div>

      <div class="flex flex-row justify-between">
        <app-button class="w-2/5" [buttonText]="'Login'" [buttonColor]="'primary'" [buttonDisabled]="!loginForm.valid"></app-button>
        <app-button class="w-2/5" [buttonText]="'Sign Up'" [buttonColor]="'accent'" [buttonLink]="'/register'"></app-button>
      </div>
    </form>
  </auth-form>
</app-auth-form>
